.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: #F9B101;
    padding: 15px 30px;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #F9B101;
    font-weight: bold;
  }
  